.top-header {

    text-align: center;
    background-color: brown;
}

img {
    max-width: 20vw;
    min-width: 300px;
}


.content-segment {
    border: 5px solid rebeccapurple;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    background-color: gray;
    text-align: justify;
}

h2 {

    text-decoration: underline;
    text-transform: uppercase;

}


a {

    text-decoration: none;

}


a:visited {

    color: yellow;
}


a:hover {

  color:red;
  font-size: 30px;


}


a:active {

    font-size:100px;

}



